@import "tailwindcss";
@plugin "daisyui";


.sora{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
   body{
    font-family: "Sora", sans-serif;

   }